<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Moteur.Properties.Settings.BDDINFERANCEConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MohamedYassine\Bureau\Moteur d'inference\Moteur dyalna\bd\BdMoteurInferance.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Moteur.Properties.Settings.BdMoteurInferanceConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\MohamedYassine\Bureau\Moteur d'inference\Moteur dyalna\bd\BdMoteurInferance.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>